body {
    background: url(../img/pencil_guy_2.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    max-height: 50%;
}

#tcp_logo {
  width: 50px;
}

.custnav{
  height: 80px;
}
