html {
  position: relative;
  min-height: 100%;
}

h1
{
font-family: 'Playfair Display SC', serif;
color: white;
}

h2 {
  font-size: 1.5em;
  color: white;
  margin-top: 10px;
  text-align: center;
  font-family: "Georgia", serif;
  /*background-color: darkred;*/
  padding: 10px;
}

p {
  color: white;
}

body {
     height:100%;
     margin:0;
     margin-bottom: 50px;
     padding:0;
}

.index {
    background: url(../img/mouth-of-the-monsterb.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}
.work {
    background: url(../img/mud_machine_render_edit3.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}

.social {
    margin-bottom: 60px;
}

#tcp_logo {
  width: 50px;
}

.logos-bg{
  width: 100px;
  background-color: white;
  padding:5px;
  border-radius: 5px;

}

.logos-sm{
  width: 50px;
  height: 50px;
  background-color: white;
  padding:5px;
  border-radius: 5px;
  font-size: 3em;
}

.custnav{
  height: 80px;
  border-radius: 100px;
}

.demo {
  padding: 2px;
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
}

.intro{
  height: 425px;
}

.middle{
  height: 450px;
}

.workmiddle{
  height: 550px;
}

.dropdown{
  background-color: papayawhip;
  width: 250px;
  border-radius: 6px;
  padding: 2px;
  text-align: center;
  font-size: 1.5em;
  margin: 0 auto 0 50px;
}

.footer {
  background-color: #1A1D23;
  opacity: 25%;
  padding: 10px;
  color: #ddd;
}

#overlay {
     width:250px;
     margin: auto;
     background-color: #fff;
     border-radius: 15px;
     padding:15px;
     text-align:center;
}
.close{
  padding-right: 10px;
  padding-left: 20px;
  font-style: bold;
}

.email{
    color:#0077B5;
}


.iframe-container {
padding-bottom: 60%;
padding-top: 30px; height: 0; overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.modal.in .modal-dialog {
transform: none; /*translate(0px, 0px);*/
}



/*large*/
@media (min-width: 641px) {
  .footer{
      font-size: 20px;
    }

  .contact {
    background: url(../img/pencil_guy_up.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
   }
}

/*small*/
@media (max-width: 640px) {
  .footer{
      font-size: 12px;
    }

    .page_title{
      background-color: black;
      margin-top: 2px;
    }

    .contact {
      background: url(../img/pencil_guy_3.jpg) no-repeat center center fixed;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      /*min-height: 100%;*/
     }
}
